<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>

      <p class="text-center">Neues Passwort per Mail an die hinterlegte Mail-Adresse anfordern. </p>

      <div class="formGroup">
        <label>
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </label>
      </div>

      <!-- Aufruf von ForgotPassword über AuthService -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Zurück <span class="redirect" routerLink="/sign-in">Einloggen</span></span>
    </div>

  </div>
</div>
