 <app-sidebar></app-sidebar>
 <h1>Event Liste</h1>
 <div class="offset-2 col-md-9 content">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Veranstaltungsname</th>
        <th scope="col">Datum</th>
        <th scope="col">Teilnehmer</th>
        <th scope="col">Anzahl</th>
        <th scope="col">Anmeldefrist</th>
        <th scope="col">Allergien</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Essen mit Freunden</td>
        <td>29-02.2020</td>
        <td>Singles,Paare</td>
        <td>5</td>
        <td>22.02.2020</td>
        <td>Weizen,Nuss,Lactose</td>
      </tr>
      <tr>
        <td>Essen mit Freunden</td>
        <td>29-02.2020</td>
        <td>Singles,Paare</td>
        <td>4</td>
        <td>22.02.2020</td>
        <td>Weizen,Nuss</td>
      </tr>
      <tr>
        <td>Essen für Zwei ;)</td>
        <td>29-02.2020</td>
        <td>Singles</td>
        <td>2</td>
        <td>22.02.2020</td>
        <td>Weizen</td>
      </tr>
      <tr>
        <td>Neue Leute kennenlernen</td>
        <td>02-03.2020</td>
        <td></td>
        <td>8</td>
        <td>28.02.2020</td>
        <td>Keine Bekannt</td>
      </tr>
      <tr>
        <td>Nudeln Bolognese</td>
        <td>08-04.2020</td>
        <td>Singles,Paare,Männer,Frauen</td>
        <td>5</td>
        <td>01.04.2020</td>
        <td>Tomate</td>
      </tr>
      </tbody>
    </table>
  </div>
