 <app-sidebar></app-sidebar>


 <div class="container-fluid content">
   <div class="row">
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
       <div class="inner-adjust">

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Allegiere</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Datum</th>
        <th scope="col">Teilnehmeranzahl</th>
        <th scope="col">Gericht</th>
      </tr>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th><input type="text" [formControl]="filterGericht" (ngModelChange)="doFilter()"></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let cookEvent of filteredEventList">
        <td>{{cookEvent.name}}</td>
        <td>{{cookEvent.allergies}}</td>
        <td>{{cookEvent.category}}</td>
        <td>{{cookEvent.eventDate | date:'dd.MM.yy'}}</td>
        <td>{{cookEvent.visiter}}</td>
        <td>{{cookEvent.meal}}</td>
      </tr>
      </tbody>
    </table>

       </div>
     </main>
  </div>
 </div>
