<!-- Site footer -->
<footer class="site-footer col-md-12">
  <div class="container footer footer_content">
    <div class="row">
      <div class="col-md-6">
        <h6>Über uns</h6><hr />
        <p class="text-justify">Cook&Chill ist eine ...</p>
      </div>

      <div class="col-md-6">
        <h6>Rechtliches</h6><hr />
        <ul class="footer-links">
          <li><a href="http://Cook&Chill.de/Impressum">Impressum</a></li>
          <li><a href="http://Cook&Chill.de/AGBS">AGBs</a></li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by Cook&Chill</p>
  </div>
</footer>
