<h1>Profil</h1>
<!--Form Input-->
<form class="col-md-9 ml-sm-auto col-lg-10 px-4" #form>
  <!--  Vorname-->
  <div class="form-group">
    <div class="col-md-8 offset-md-2 col-sm-2">
      <details>
      <summary>Vorname: </summary>
        <input class="input-group-sm" [(ngModel)]="profile.firstName" required minlength="5" name="firstName"
          placeholder="Vorname"
          type="text"
          class="form-control">
      </details>
    </div>
  </div>
  <!--  Nachname-->
  <div class="form-group">
    <div class="col-md-8 offset-md-2 col-sm-2">
      <details>
      <summary>Name:</summary>
      <input [(ngModel)]="profile.surname" required minlength="5" name="Surname"
             placeholder="Nachname"
             type="text"
             class="form-control">
      </details>
    </div>
  </div>
  <!--  Allergien-->
  <div class="form-group">
    <div class="col-md-8 offset-md-2 col-sm-2">
      <details>
        <summary>allergies:</summary>
        <input [(ngModel)]="profile.allergies" required minlength="5" name="allergies"
               placeholder="allergies"
               type="text"
               class="form-control">
      </details>
    </div>
  </div>
<!--  &lt;!&ndash;  Allergien&ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <div class="col-md-8 offset-md-2 col-sm-2">-->
<!--      <details>-->
<!--        <summary>Allergien:</summary>-->
<!--        <input [(ngModel)]="profile.allergies" required minlength="5" name="allergies"-->
<!--               placeholder="Allergien"-->
<!--               type="text"-->
<!--               class="form-control">-->
<!--      </details>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;  Wohnort&ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <div class="col-md-8 offset-md-2 col-sm-2">-->
<!--      <details>-->
<!--      <summary>Wohnort:</summary>-->
<!--      <input [(ngModel)]="profile.city" required minlength="5" name="allergies"-->
<!--             placeholder="Wohnort"-->
<!--             type="text"-->
<!--             class="form-control">-->
<!--      </details>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;  Alter&ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <div class="col-md-8 offset-md-2 col-sm-2">-->
<!--      <details>-->
<!--      <summary>Alter:</summary>-->
<!--      <input [(ngModel)]="profile.age" required minlength="5" name="allergies"-->
<!--             placeholder="Alter"-->
<!--             type="text"-->
<!--             class="form-control">-->
<!--      </details>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;  Interessen&ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <div class="col-md-8 offset-md-2 col-sm-2">-->
<!--      <details>-->
<!--      <summary>Interessen:</summary>-->
<!--      <input [(ngModel)]="profile.interests" required minlength="5" name="allergies"-->
<!--             placeholder="Interessen"-->
<!--             type="text"-->
<!--             class="form-control">-->
<!--      </details>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;  Absichten&ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <div class="col-md-8 offset-md-2 col-sm-2">-->
<!--      <details>-->
<!--      <summary>Absichten:</summary>-->
<!--      <input [(ngModel)]="profile.intentions" required minlength="5" name="allergies"-->
<!--             placeholder="Absichten"-->
<!--             type="text"-->
<!--             class="form-control">-->
<!--      </details>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;  Bild&ndash;&gt;-->
<!--  <div class="form-group">-->
<!--    <div class="col-md-8 offset-md-2 col-sm-2">-->
<!--      <details>-->
<!--      <summary>Bild:</summary>-->
<!--      <input [(ngModel)]="profile.image" required minlength="5" name="allergies"-->
<!--             placeholder="Bild"-->
<!--             type="text"-->
<!--             class="form-control">-->
<!--      </details>-->
<!--    </div>-->
<!--  </div>-->

  <div class="col-md-8 offset-md-2 col-sm-2">
    <button (click)="form.checkValidity()?save():1" name="submit" type="submit" class="btn btn-primary">
      Submit
    </button>
  </div>
</form>





