.sidebar_container {
  position: absolute;
  height: 100vh;
  border-right: #000 solid 1px;
  box-shadow: black;
}

.material-icons {
  font-size: 36px;
}

.sidebar_page_content {
  position: absolute;
  top: 10px;
  left: 10px;
}

