.sidebar_container {
  position: absolute;
  height: 100vh;
  overflow: auto;
}

.material-icons {
  font-size: 36px;
}

.sidebar_page_content {
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav-link {
  cursor: pointer;
}
