<ng-sidebar-container class="sidebar_container">
  <!-- Sidebar-Content -->
  <ng-sidebar closeOnClickOutside=true class="sidebar_content" [(opened)]="opened">
    <nav class="col-md-3 d-xs-block bg-white sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active"><i class="material-icons">settings</i></a>
          </li>
          <li class="nav-item bg-light">
            <a class="nav-link active" routerLink="/dashboard">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"><i class="material-icons"></i>Veranstaltung erstellen</a>
          </li>
          <li class="nav-item bg-light">
            <a class="nav-link active"><i class="material-icons"></i>Veranstaltungsliste</a>
          </li>
          <!-- Aufruf von SignOut () Api von AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">Ausloggen</a>
          </li>
        </ul>
      </div>
    </nav>
  </ng-sidebar>
  <!-- Page content -->
  <div ng-sidebar-content class="sidebar_page_content">
    <i class="material-icons nav_handler link" (click)="toggleSidebar()">menu</i>
  </div>
</ng-sidebar-container>
